

body {
  overflow-x: hidden;
}
@media (max-width: 766px) {
  .deskNav {
    display: none;
  }
}
@media (min-width: 767px) {
  .mobileNav {
    display: none;
    background-color: #f94c70;
  }
}
#topNav {
  background-color: #f94c70 !important;
}
Nav {
  background-color: #f94c70;
  border: solid 1px black;
}
.mobileNav a {
  color: rgba(0, 0, 0, 0.9);
  margin: auto;
}

.mobileProfile p {
  display: none;
}
.mobileProfile:hover p {
  display: inline-flex;
  margin: 0 0 0px 3px;
}
.prof {
  background-color: rgba(47,47,162, 1);
}
.profilePic {
  border: solid 10px #553D67;
  border-radius: 50px;
  display: block;
  margin: 10px auto;
  width: 50%;
  max-width: 200px;
}
figcaption {
color: black;
text-align: center;
}
.cntact {
  text-align: center;
  padding: 10px 0;
  border: solid 1px black;
}
#borderOverLapNoMore {
  border-top: 0;
  border-bottom: 0;
}
.outgoing {
  color: orange;
}
h1 {
  color: black;
  margin-top: 20px;
  margin-bottom: 30px;
}
.txt {
  color: gray;
}
#mobileList {
  margin: 10px 10px;
}
footer {
  background-color: #f94c70;
height: 11vh;
}
footer ul li {
  display: inline-block;
}
footer ul {
  text-align: center;
}
/* fab = class in footer
*/
.fab {
  color: rgba(47,47,162, 1);
  margin-top: 10px;
}
.sectionDivides {
  margin-top: 200px;
  margin-bottom: 200px;
}
.goSomewhereButton {
  margin: 10px 0 0 0;
}
.imgs {
  width: 90%;
}
.portfolioPics {
  margin: 20px 0;
}
.col-md-4 {
  padding: 0;
}
